<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsc.mapper.UserMapper">
    <select id="findAll" resultType="com.dsc.vo.UserVo">
        select * from mall_user
    </select>
</mapper>